<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<center>
    <div class="display-4">Home Page</div>
    <p>Home Page - New comers</p>
    <p><a th:href="@{/registration}">Registration</a></p>
    <p><a th:href="@{/admin}">Admin Page</a></p>
    <for>
        <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
    </for>
</center>
</body>
</html>