<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="wrapper">
    <div class="form-container">
        <h1 class="font-weight-light">Registration</h1>
        <form method="POST" th:action="@{/register}" th:object="${userModel}">
            <div class="form-group">
                <input class="form-control" id="usernameId" placeholder="Username"
                       th:field="${userModel.username}" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" id="emailId" placeholder="Email"
                       th:field="${userModel.email}" type="email">
            </div>
            <div class="form-group">
                <input class="form-control" id="passwordId"
                       placeholder="Password" th:field="${userModel.password}" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" id="cpasswordId"
                       placeholder="Confirm Password" type="password">
            </div>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>